/* General styles */
.text-mute {
	color: #888;
}
/*End General styles */
.main-container {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	color: black;
}

/* Navbar */

nav {
	display: flex;
	height: 50px;
	width: 100%;
	font-size: small;
	border: 2px solid yellow;
	font-family: helvetica, arial, sans-serif;
	box-sizing: border-box;
}

nav button {
	margin: 0.9em;
	border: none;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 14.25px;
}

#login-button {
	background-color: rgb(86, 123, 149);
	color: white;
	padding: 1%;
	border-radius: 10%;
	height: 30px;
	padding-top: 10px;
	font-size: 10px;
	margin-left: 10px;
}

#subscribe-button {
	background-color: rgb(86, 123, 149);
	color: white;
	padding: 1%;
	border-radius: 10%;
	margin-left: 400px;
	height: 30px;
	padding-top: 10px;
	font-size: 10px;
}

.logo {
	margin-left: 300px;
	margin-top: 5px;
}

/* End of Navbar */
#hero {
	width: 960px;
	margin: 20px auto;
}

#hero h1 {
	color: #121212;
	font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
	font-weight: 700;
	font-style: italic;
	font-size: 2.5rem;
	line-height: 3rem;
	text-align: justify;

	margin: 0 100px 12px 150px;
}
#hero img {
	width: 100%;
	margin-bottom: 10px;
}

#hero p {
	line-height: 1.3;
}
 article{
 max-width: 600px;
 margin-left: auto;
 margin-right: auto;
 height: 100rem;
 
 margin-left: 23rem;
 

 }


 
/* begining of the article section  */

.article-info{
float: right;
}

.article-icon{
	border-radius: 50%;
	
	size: 196rem;
		
}

.fa-comment{
	
	position: relative;
	height: 30px;
	width: 30px;
	
}

.article-info span{
	position: absolute;
	color: black;
    overflow:hidden;
	top: 10px;
	left: 9px;
	font-size: x-small;
}	

.article-info a{
color: black;
}



.article-icon-color{
color: white;
text-shadow: 0 0 2px black;


}

.article-info a:nth-child(-n+4) {
	background-color: #EEEEEE;
	border-radius: 200px 200px 200px 200px;
	padding: 5px;
  }
  .article-info a:hover{
	color: black;
	background-color: white;
	border: 1px solid #EEEEEE;
	
	}
